.App {
  background: yellow;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b-instrument {
  width: 125px;
  height: 100px;
  background: gray;
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.b-instrument-pressed {
  width: 125px;
  height: 100px;
  background: gray;
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background: greenyellow;



  box-shadow: 4px 5px 6px -3px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 4px 5px 6px -3px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 4px 5px 6px -3px rgba(0,0,0,0.75) inset;

}

.intruments {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  width: 435px;
  background: #001068;
  border-radius: 3px;
  font-weight: bold;
  font-size: 26px;
}

.pad {
  background: black;
  width: 750px;
  height: 425px;
  padding: 20px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.settings {
  /* background: azure; */
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.display-name {
  width: 150px;
  height: 25px;
  background: green;
  text-align: center;
  padding: 10px;
  font-size: large;
  font-weight: bold;
}
