:root {
  --c1: #1abc9c;
  --c2: #16a085;
  --c3: #2ecc71;
  --c4: #27ae60;
  --c5: #3498db;
  --c6: #2980b9;
  --c7: #9b59b6;
  --c8: #8e44ad;
  --c9: #34495e;
  --c10: #2c3e50;
  --c11: #f1c40f;
  --c12: #f39c12;
  --c13: #e67e22;
  --c14: #d35400;
  --c15: #e74c3c;
  --c16: #c0392b;
  --c17: #ecf0f1;
  --c18: #bdc3c7;
  --c19: #95a5a6;
  --c20: #7f8c8d;
}

.App {
  background: var(--c17);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drum-pad {
  width: 125px;
  height: 100px;
  background: var(--c13);
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-family: 'Silkscreen', cursive;
  font-size: 45px;
}

.pressed {
  width: 125px;
  height: 100px;
  background: var(--c19);
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background: var(--c14);

  font-size: 43px;

  box-shadow: 4px 5px 6px -3px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 4px 5px 6px -3px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 4px 5px 6px -3px rgba(0, 0, 0, 0.75) inset;
}

.intruments {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  width: 435px;
  background: var(--c19);
  border-radius: 3px;
  font-weight: bold;
  font-size: 26px;
  height: fit-content;
  border: 2px solid var(--c17)
}

#drum-machine {
  background: var(--c20);
  width: 750px;
  height: 360px;
  padding: 12px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 5px solid var(--c13);
}

.settings {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

#display {
  width: 180px;
  height: 25px;
  background: var(--c10);
  text-align: center;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  margin-bottom: 35px;
  font-family: 'Silkscreen', cursive;
  color: var(--c4);
}

.powerbutton,
.volume-slider {
  color: var(--c10);
  font-weight: bold;
  width: 170px;
  text-align: center;
  margin-bottom: 35px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

h3 {
  margin-bottom: 5px;
}
